<div class="main-content">
  <app-navbar-account></app-navbar-account>
  <div class="section-content section-content-p40">
    <div class="container-fluid">
      <h3>Favourite Teams</h3>
      <hr>
      <table class = "table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>Team Name</th>
          <th>Logo</th>
          <th>Sport Type</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let tempTeam of teams">
          <td>
            <a href="/account/favTeam/{{tempTeam.idTeam}}"> <h5 style = "color: #205b8d">{{tempTeam.strTeam}}</h5></a>
          </td>
          <td>
            <a href="/account/favTeam/{{tempTeam.idTeam}}">
              <img src="{{tempTeam.strTeamBadge}}" height = "80" width="80">
            </a>
          </td>
          <td>
            {{tempTeam.strSport}}
          </td>
          <td>
            <a href="account/teams">
              <i (click) = removeTeam(tempTeam.idTeam) class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

