<div class="main-content">
  <basketball-navbar></basketball-navbar>
  <div class="section-content section-content-p40">
    <div class="container-fluid">
      <h4>Eastern Conference</h4>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>Pos</th>
          <th>Team</th>
          <th>Win</th>
          <th>Lose</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tempTeam of standings.league.standard.conference.east;let i = index" [attr.data-index]="i">
          <td>
            <h6>{{i + 1}}</h6>
          </td>
          <td>
            <img src="{{tempTeam.logoPath}}.png" height="50" width="50">
            {{tempTeam.teamSitesOnly.teamName}}
            {{tempTeam.teamSitesOnly.teamNickname}}
          </td>
          <td>
            {{tempTeam.win}}
          </td>
          <td>
            {{tempTeam.loss}}
          </td>
        </tr>

        </tbody>
      </table>
      <hr>
      <h4>Western Conference</h4>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>Pos</th>
          <th>Team</th>
          <th>Win</th>
          <th>Lose</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tempTeam of standings.league.standard.conference.west;let i = index" [attr.data-index]="i">
          <td>
            <h6>{{i + 1}}</h6>
          </td>
          <td>
            <img src="{{tempTeam.logoPath}}.png" height="50" width="50">
            {{tempTeam.teamSitesOnly.teamName}}
            {{tempTeam.teamSitesOnly.teamNickname}}
          </td>
          <td>
            {{tempTeam.win}}
          </td>
          <td>
            {{tempTeam.loss}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

